.bag-container {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
}

.bag-container footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-container footer button {
  background: transparent;
  color: #eb5c30;
  border: 2px solid #eb5c30;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: bold;
  transition: background 0.5s, color 0.5s;
}

.bag-container footer button:hover {
  color: #FFF;
  background: #eb5c30;
}

.item-table {
  width: 100%;
}

.item-table thead th {
  color: #878C99;
  text-align: left;
  padding: 12px;
}

.item-table tbody td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.item-table img {
  height: 100px;
}

.item-table strong {
  color: #333;
  display: block;
}

.item-table span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.item-table div {
  display: flex;
  align-items: center;
}

.item-table div input {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #878C99;
  padding: 6px;
  width: 50px;
}

.item-table button {
  background: none;
  border: 0;
  padding: 6px;
}

.total {
  display: flex;
  align-items: baseline;
}

.total span {
  color: #878C99;
  font-weight: bold;
}

.total strong {
  font-size: 28px;
  margin-left: 5px;
}
